:root {
  --gipster-color-regular: #999999;
  --gipster-color-dark: #1f1e29;
  --gipster-color-darker: #14131a;
  --gipster-color-darkest: #0f131d;
  --gipster-color-deep-dark: #000000;
  --gipster-color-light: #dddddd;
  --gipster-color-lighter: #eeeeee;
  --gipster-color-lightest: #ffffff;
  --gipster-color-link: #1b95e0;
}

::selection {
  background-color: var(--ifm-color-primary);
  color: var(--gipster-color-lighter);
}

/* Global Styles */
html[data-theme="light"] {
  --ifm-background-color: var(--gipster-color-lightest);
  --ifm-background-surface-color: var(--gipster-color-lighter);
}

html[data-theme="dark"] {
  --ifm-background-color: var(--gipster-color-darkest);
  --ifm-background-surface-color: var(--gipster-color-lighter);
}

body {
  font-size: 15px;
}

table {
	 font-size: 13px;
	 text-align: center;
}

a,
a:hover {
  color: var(--gipster-color-link);
  text-decoration: none;
}

.markdown li {
  padding-bottom: 5px;
}

.navbar {
  background-color: var(--gipster-color-darkest);
}

.navbar__brand strong {
  color: var(--gipster-color-lighter);
  font-size: 20px;
  font-weight: 300; 
}

.navbar__item.navbar__link,
.navbar__item.navbar__link.navbar__link--active {
  color: var(--gipster-color-lighter);
  font-size: 16px;
}

.footer.footer--dark {
  background-color: var(--gipster-color-deep-dark);
  padding: 72px 0;
}

.navbar__item.navbar__link[href*="github"] {
  display: flex;
  font-size: 0;
  padding: 0 12px;
}

.navbar__item.navbar__link[href*="github"]:before {
  content: "";
  width: 24px;
  height: 24px;
  background: url("/img/github.svg");
  background-repeat: no-repeat;
}

.navbar .navbar__items .navbar__toggle {
  margin-right: 16px;
}

.navbar .navbar__items .navbar__toggle svg path {
  stroke: var(--gipster-color-lighter);
}

.navbar .navbar-sidebar {
  background-color: var(--gipster-color-darker);
}

.navbar .navbar-sidebar .navbar-sidebar__items .menu .menu__list .menu__list-item .menu__link {
  margin-left: 12px;
  font-size: 14px;
  color: var(--gipster-color-lighter);
}

.menu__link--active {
  color: var(--gipster-color-link);
}

.menu.menu--responsive .button {
  border: 0;
  background-color: var(--gipster-color-darker);
}

.menu.menu--responsive .button svg path {
  stroke: var(--gipster-color-lighter);
}

.menu.menu--responsive.menu--show  {
  background-color: var(--gipster-color-lightest);
}

html[data-theme="dark"] .menu.menu--responsive.menu--show  {
  background-color: var(--gipster-color-dark);
}

.menu.menu--responsive.menu--show .button {
  background-color: var(--gipster-color-light);
}

.navbar .react-toggle {
  margin: 0 12px;
}

.navbar__brand strong {
  font-weight: 400;
}

.padding-vert--lg {
  padding: 2rem !important;
}

.pagination-nav__sublabel, .hash-link {
  display: none;
}

@media screen and (max-width: 460px) {
  .navbar > .navbar__inner > .navbar__items > .navbar__brand > strong {
    display: none;
  }
}
